.container {
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba($color: #000000, $alpha: .02);
    & .title {
        padding: 18px;
        font-size: 20px;
        color: #484848;
        font-weight: 600;
    }
    & .ant-table-thead>tr>th {
        text-transform: uppercase;
        color: #767676 !important;
        font-size: 12px;
    }
    & .ant-table-tbody>tr>td {
        color: #484848 !important;
    }
}

.comp-full-calendar {
    width: 100% !important;
    max-width: 100% !important;
}

.event-item {
    color: #ffffff !important;
    font-size: 14px !important;
    line-height: 24px !important;
    padding: 0 8px !important;
    height: 24px !important;
}

.ant-table-pagination.ant-pagination {
    margin: 16px !important;
}

.myLogin {
    background: #f7f7f7;
    & .myBrand {
        max-width: 100%;
        max-height: 110px;
        display: block;
        margin: 0 auto;
        margin-bottom: 32px;
    }
    & .ant-btn {
        background-image: linear-gradient(to left, #4481eb 0%, #04befe 100%);
        text-shadow: none;
        box-shadow: none;
        color: #ffffff;
        border: none;
    }
    & .back-action {
        text-align: center;
        margin: 24px 0;
        & a {
            color: rgba($color: #000000, $alpha: .35);
            transition: all .5s ease-in-out;
            font-size: 14px;
            & i {
                font-size: 12px;
                margin-right: 4px;
            }
            &:hover {
                color: rgba($color: #000000, $alpha: .65);
            }
        }
    }
}