.ant-layout-header {
    padding: 0 16px;
    & .ant-avatar {
        background-color: #ffffff;
        & .ant-avatar-string {
            height: 100%;
            width: 100%;
            & .brand {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
}

.ant-drawer-content-wrapper {
    box-shadow: none !important;
    & .ant-drawer-header {
        & .ant-btn {
            background: #f5f5f5;
            border: none;
        }
    }
    & .ant-drawer-body {
        & .ant-avatar {
            background-color: #ffffff;
            & .ant-avatar-string {
                height: 100%;
                width: 100%;
                & .brand {
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100%;
                    width: 100%;
                }
            }
        }
        & .name-user {
            line-height: normal;
        }
        & .ant-menu {
            border: none;
            & .ant-menu-item {
                padding-left: 0 !important;
                padding-right: 0 !important;
                &::after {
                    display: none;
                }
                & .mh-svg-icon {
                    margin-bottom: -6px;
                    margin-right: 8px;
                    position: relative;
                    & g [fill] {
                        fill: rgba($color: #000, $alpha: .25);
                    }
                }
            }
            & .ant-menu-submenu-title {
                & .mh-svg-icon {
                    margin-bottom: -6px;
                    margin-right: 8px;
                    position: relative;
                    & g [fill] {
                        fill: rgba($color: #000, $alpha: .25);
                    }
                }
            }
            & .ant-menu-submenu {
                & .ant-menu-sub {
                    & .ant-menu-item {
                        & i {
                            font-size: 10px;
                        }
                        & .mh-svg-icon {
                            margin-bottom: -6px;
                            margin-right: 8px;
                            position: relative;
                            & g [fill] {
                                fill: rgba($color: #000, $alpha: .25);
                            }
                        }
                    }
                }
            }
        }
        & .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
            background-color: transparent !important;
        }
    }
}