.ant-layout-sider {
    flex: 0 0 225px;
    max-width: 225px !important;
    min-width: 225px !important;
    width: 225px !important;
    background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
    & .brand-sider {
        line-height: 64px;
        height: 64px;
        & .logo {
            background-size: cover;
            margin: 0 auto;
            height: 40px;
            width: 40px;
        }
        & .logo-text {
            font-size: 22px;
            color: rgba($color: #ffffff, $alpha: 1);
            margin: 0 auto;
        }
    }
    & .avatar {
        padding: 24px 0;
        & .avatar-item {
            text-align: center;
            margin: 0 auto;
            & .ant-avatar {
                background-color: #ffffff;
                & .ant-avatar-string {
                    height: 100%;
                    width: 100%;
                    & .brand {
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            & .name-user {
                font-size: 15px;
                margin-top: 8px;
                color: rgba($color: #ffffff, $alpha: .85);
            }
        }
    }
    & .ant-menu {
        background: transparent;
        border: none;
        & .ant-menu-item-group-title {
            color: rgba($color: #ffffff, $alpha: .45);
        }
        & .ant-menu-item,
        & .ant-menu-submenu-title {
            color: rgba($color: #ffffff, $alpha: .45);
            font-weight: normal;
            & a {
                color: rgba($color: #ffffff, $alpha: .45);
                font-weight: normal;
                & i {
                    color: rgba($color: #ffffff, $alpha: .45);
                }
            }
        }
        & .ant-menu-submenu {
            & .ant-menu-sub {
                & .ant-menu-item {
                    padding-left: 24px !important;
                    & i {
                        font-size: 10px;
                    }
                }
            }
        }
        & .ant-menu-item-selected {
            color: rgba($color: #ffffff, $alpha: 1);
            & a {
                color: rgba($color: #ffffff, $alpha: 1);
                & i {
                    color: rgba($color: #ffffff, $alpha: 1);
                }
            }
        }
    }
    & .ant-divider {
        background-color: rgba($color: #ffffff, $alpha: .2);
    }
    & .ant-layout-sider-trigger {
        background-color: #1e90ff;
        width: 225px !important;
    }
}

.ant-layout-sider--admin {
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}

.ant-menu-vertical .ant-menu-item:after,
.ant-menu-vertical-left .ant-menu-item:after,
.ant-menu-vertical-right .ant-menu-item:after,
.ant-menu-inline .ant-menu-item:after {
    display: none !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: transparent;
}